In [1]:
%load_ext autoreload
%autoreload 2

import os
import pandas as pd
import numpy as np

path_parent = os.path.dirname(os.getcwd())

# if os.getcwd()[-8:] != 'HEALTH-ECONS':
#     os.chdir(path_parent)

print(os.getcwd())

import matplotlib.pyplot as plt

plt.style.use('seaborn-v0_8')
plt.rcParams.update({'font.family': 'Times New Roman'})
plt.rcParams.update({'axes.grid': True, 'axes.linewidth': 0.5, 'axes.edgecolor': 'black'})

/Users/samaypanwar/Library/CloudStorage/OneDrive-NanyangTechnologicalUniversity/Uni/Y4S2/HEALTH ECONS/group_project

In [ ]:
import polars as pl

In [ ]:
%timeit
df = pl.read_csv("data/Individual_Market_Medical.csv")

columns_needed = [
        'State Code','FIPS County Code', 'County Name', 'Metal Level', 'Issuer Name', 'Premium Adult Individual Age 21','Medical Deductible - Individual - Standard', 'Medical Maximum Out Of Pocket - Individual - Standard'
        ]
df = df.select(columns_needed)
df = df.filter(pl.col("Issuer Name").str.contains(r"Blue"))
print(df.head())
df.write_csv('data/2022.csv')

In [ ]:
%timeit
df = pl.read_csv("data/Individual_Market_Medical_08_04_2021.csv")

columns_needed = [
        'State Code','FIPS County Code', 'County Name', 'Metal Level', 'Issuer Name', 'Premium Adult Individual Age 21','Medical Deductible - Individual - Standard', 'Medical Maximum Out Of Pocket - Individual - Standard'
        ]
df = df.select(columns_needed)
df = df.filter(pl.col("Issuer Name").str.contains(r"Blue"))
print(df)
df.write_csv('data/2021.csv')

In [ ]:
%timeit
df = pl.read_csv("data/Individual_Market_Medical_07_27_2020.csv")

columns_needed = [
        'State Code','FIPS County Code', 'County Name', 'Metal Level', 'Issuer Name', 'Premium Adult Individual Age 21','Medical Deductible - Individual - Standard', 'Medical Maximum Out Of Pocket - Individual - Standard'
        ]
df = df.select(columns_needed)
df = df.filter(pl.col("Issuer Name").str.contains(r"Blue"))
print(df)
df.write_csv('data/2020.csv')

In [ ]:
%timeit
df = pl.read_csv("data/Individual_Market_Medical_07_25_2019.csv")

columns_needed = [
        'State Code','FIPS County Code', 'County Name', 'Metal Level', 'Issuer Name', 'Premium Adult Individual Age 21','Medical Deductible - Individual - Standard', 'Medical Maximum Out Of Pocket - Individual - Standard'
        ]
df = df.select(columns_needed)
df = df.filter(pl.col("Issuer Name").str.contains(r"Blue"))
print(df)
df.write_csv('data/2019.csv')

In [ ]:
%timeit
df = pl.read_csv("data/PY2018_Medi-Indi-Land-07_26_2018.csv")

columns_needed = [
        'State Code','FIPS County Code', 'County Name', 'Metal Level', 'Issuer Name', 'Premium Adult Individual Age 21','Medical Deductible - Individual - Standard', 'Medical Maximum Out Of Pocket - Individual - Standard'
        ]
df = df.select(columns_needed)
df = df.filter(pl.col("Issuer Name").str.contains(r"Blue"))
print(df)
df.write_csv('data/2018.csv')

In [ ]:
%timeit
df = pl.read_csv("data/PY2017_Medi-Indi-Land-08_11_2017.csv")

columns_needed = [
        'State Code','FIPS County Code', 'County Name', 'Metal Level', 'Issuer Name', 'Premium Adult Individual Age 21','Medical Deductible - Individual - Standard', 'Medical Maximum Out Of Pocket - Individual - Standard'
        ]
df = df.select(columns_needed)
df = df.filter(pl.col("Issuer Name").str.contains(r"Blue"))
print(df)
df.write_csv('data/2017.csv')

In [ ]:
years = [str(year) for year in range(2017,2023)]
dataframe = pl.DataFrame()

for year in years:
    df = pl.read_csv(f"data/{year}.csv")

    covid_dummy = int(year)

    df = df.with_columns(pl.lit(covid_dummy).alias('Time Trend'))
    dataframe = pl.concat([dataframe, df])

func = lambda x: float(x.replace(',', "").replace("$", ""))

# def func
dataframe = dataframe.with_columns([
        pl.col('Medical Maximum Out Of Pocket - Individual - Standard').apply(func),
        pl.col('Premium Adult Individual Age 21').apply(func),
        pl.col('Medical Deductible - Individual - Standard').apply(func)
        ])
print(dataframe)
dataframe.write_csv('data/main_data_file.csv')

In [36]:
print(dataframe['State Code'].n_unique())

34

In [10]:
import pandas as pd

print(pd.read_csv('data/main_data_file.csv'))

      State Code  FIPS County Code     County Name Metal Level  \
0             AK              2013  Aleutians East        Gold
1             AK              2013  Aleutians East      Silver
2             AK              2013  Aleutians East      Bronze
3             AK              2013  Aleutians East      Bronze
4             AK              2013  Aleutians East      Silver
...          ...               ...             ...         ...
97129         WY             56045          Weston        Gold
97130         WY             56045          Weston        Gold
97131         WY             56045          Weston      Bronze
97132         WY             56045          Weston      Silver
97133         WY             56045          Weston      Silver

                                    Issuer Name  \
0      Premera Blue Cross Blue Shield of Alaska
1      Premera Blue Cross Blue Shield of Alaska
2      Premera Blue Cross Blue Shield of Alaska
3      Premera Blue Cross Blue Shield of Alaska
4      Premera Blue Cross Blue Shield of Alaska
...                                         ...
97129         Blue Cross Blue Shield of Wyoming
97130         Blue Cross Blue Shield of Wyoming
97131         Blue Cross Blue Shield of Wyoming
97132         Blue Cross Blue Shield of Wyoming
97133         Blue Cross Blue Shield of Wyoming

       Premium Adult Individual Age 21  \
0                               866.00
1                               743.00
2                               580.00
3                               578.00
4                               723.00
...                                ...
97129                           509.37
97130                           499.61
97131                           401.63
97132                           603.36
97133                           610.80

       Medical Deductible - Individual - Standard  \
0                                          1500.0
1                                          3000.0
2                                          6350.0
3                                          5250.0
4                                          3000.0
...                                           ...
97129                                      2000.0
97130                                      1500.0
97131                                      8550.0
97132                                      6000.0
97133                                      2500.0

       Medical Maximum Out Of Pocket - Individual - Standard  Time Trend
0                                                 5000.0            2017
1                                                 7150.0            2017
2                                                 7150.0            2017
3                                                 6500.0            2017
4                                                 4100.0            2017
...                                                  ...             ...
97129                                             8550.0            2022
97130                                             7000.0            2022
97131                                             8550.0            2022
97132                                             8550.0            2022
97133                                             8550.0            2022

[97134 rows x 9 columns]

In [3]:
def clean_date(date):

    month, day, year = date.split('/')
    year = year[-2:]

    if len(month) == 1:
        month = '0' + month

    if len(day) == 1:
        day = '0' + day

    return '20' + str(year) + '-' + str(month) + '-' + str(day)

In [4]:
import datetime
df = pd.read_csv('data/Weekly_United_States_COVID-19_Cases_and_Deaths_by_State.csv')
df.date_updated = list(map(clean_date, df.date_updated))
df.date_updated = pd.to_datetime(df.date_updated, format = '%Y-%m-%d')
df = df.sort_values(by = 'date_updated')
df.set_index(df.date_updated, drop = True, inplace = True)
df = df[df.date_updated < datetime.datetime(2023, 1, 1)]
print(df.tail())

             date_updated state  start_date    end_date  tot_cases  new_cases  \
date_updated
2022-12-29     2022-12-29   FSM  12/22/2022  12/28/2022      22069         21
2022-12-29     2022-12-29    PR  12/22/2022  12/28/2022    1049438       8652
2022-12-29     2022-12-29    PW  12/22/2022  12/28/2022       5968         13
2022-12-29     2022-12-29    AL  12/22/2022  12/28/2022    1573637       4703
2022-12-29     2022-12-29    AK  12/22/2022  12/28/2022     288123        332

              tot_deaths  new_deaths  new_historic_cases  new_historic_deaths
date_updated
2022-12-29            58           0                   0                    0
2022-12-29          5519          29                   0                    0
2022-12-29             9           0                   0                    0
2022-12-29         20757          20                   0                    0
2022-12-29          1418           0                   0                    0

In [5]:
df.groupby('state').resample('Y')['new_cases'].sum().to_csv('data/year_and_statewise_covid_cases.csv')
tmp = pd.read_csv('data/year_and_statewise_covid_cases.csv')
tmp

    state date_updated  new_cases
0      AK   2020-12-31      45802
1      AK   2021-12-31     106561
2      AK   2022-12-31     135760
3      AL   2020-12-31     356820
4      AL   2021-12-31     523487
..    ...          ...        ...
175    WV   2021-12-31     241289
176    WV   2022-12-31     298027
177    WY   2020-12-31      44125
178    WY   2021-12-31      71117
179    WY   2022-12-31      67605

[180 rows x 3 columns]

In [10]:
df

,date_updated,state,start_date,end_date,tot_cases,new_cases,tot_deaths,new_deaths,new_historic_cases,new_historic_deaths
date_updated,,,,,,,,,,
2020-01-23,2020-01-23,GA,01/16/2020,01/22/2020,0,0,0,0,0,0
2020-01-23,2020-01-23,CA,01/16/2020,01/22/2020,0,0,0,0,0,0
2020-01-23,2020-01-23,WY,01/16/2020,01/22/2020,0,0,0,0,0,0
2020-01-23,2020-01-23,NH,01/16/2020,01/22/2020,0,0,0,0,0,0
2020-01-23,2020-01-23,MT,01/16/2020,01/22/2020,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
2022-12-29,2022-12-29,FSM,12/22/2022,12/28/2022,22069,21,58,0,0,0
2022-12-29,2022-12-29,PR,12/22/2022,12/28/2022,1049438,8652,5519,29,0,0
2022-12-29,2022-12-29,PW,12/22/2022,12/28/2022,5968,13,9,0,0,0
2022-12-29,2022-12-29,AL,12/22/2022,12/28/2022,1573637,4703,20757,20,0,0
2022-12-29,2022-12-29,AK,12/22/2022,12/28/2022,288123,332,1418,0,0,0

In [37]:
df_political = pd.read_csv('data/political_data.csv', header = 0, index_col = 0)
state_control = []
for col in df_political.columns:

    if 'Unnamed: ' in col:
        if int(col.split(sep='Unnamed:')[1]) % 3 == 0:
            state_control.append(col)

df_political = df_political[state_control]
df_political.columns = [str(i) for i in range(2017, 2024)]
df_political.drop(['State_Code'], axis=0, inplace = True) #.to_csv('data/cleaned_political_data.csv')
df_political = df_political.reset_index().rename(columns = {'index': 'State Code'})
# df_political = pd.read_csv('data/cleaned_political_data.csv')
df_political = df_political.melt(id_vars = 'State Code', value_vars = [str(i) for i in range(2017, 2024)])
df_political = df_political.rename(columns = {'variable': 'Time Trend', 'value': 'Unity'})
df_political.to_csv('data/cleaned_political_data.csv', index = False)

In [35]:
df_political

    State Code Time Trend    Unity
0           AL       2017      Rep
1           AK       2017  Divided
2           AZ       2017      Rep
3           AR       2017      Rep
4           CA       2017      Dem
..         ...        ...      ...
345         VA       2023  Divided
346         WA       2023      Dem
347         WV       2023      Rep
348         WI       2023  Divided
349         WY       2023      Rep

[350 rows x 3 columns]

KeyError: "None of [Index(['Unnamed: 3', 'Unnamed: 6', 'Unnamed: 9', 'Unnamed: 12', 'Unnamed: 15',\n       'Unnamed: 18', 'Unnamed: 21'],\n      dtype='object')] are in the [columns]"