In [8]:
%load_ext autoreload
%autoreload 2

import os
import pandas as pd
import numpy as np

path_parent = os.path.dirname(os.getcwd())

# if os.getcwd()[-8:] != 'HEALTH-ECONS':
#     os.chdir(path_parent)

print(os.getcwd())

import matplotlib.pyplot as plt

plt.style.use('seaborn-v0_8')
plt.rcParams.update({'font.family': 'Times New Roman'})
plt.rcParams.update({'axes.grid': True, 'axes.linewidth': 0.5, 'axes.edgecolor': 'black'})

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload
/Users/samaypanwar/storage/University/Y4S2/HEALTH ECONS/group_project

In [9]:
import polars as pl
%timeit
df = pl.read_csv("data/Individual_Market_Medical.csv")
df.columns

['State Code',
 'FIPS County Code',
 'County Name',
 'Metal Level',
 'Issuer Name',
 'HIOS Issuer ID',
 'Plan ID (Standard Component)',
 'Plan Marketing Name',
 'Plan Type',
 'Rating Area',
 'Child Only Offering',
 'Source',
 'Customer Service Phone Number Local',
 'Customer Service Phone Number Toll Free',
 'Customer Service Phone Number TTY',
 'Network URL',
 'Plan Brochure URL',
 'Summary of Benefits URL',
 'Drug Formulary URL',
 'Adult Dental ',
 'Child Dental ',
 'EHB Percent of Total Premium',
 'Premium Scenarios',
 'Premium Child Age 0-14',
 'Premium Child Age 18',
 'Premium Adult Individual Age 21',
 'Premium Adult Individual Age 27',
 'Premium Adult Individual Age 30 ',
 'Premium Adult Individual Age 40 ',
 'Premium Adult Individual Age 50 ',
 'Premium Adult Individual Age 60 ',
 'Premium Couple 21  ',
 'Premium Couple 30 ',
 'Premium Couple 40 ',
 'Premium Couple 50 ',
 'Premium Couple 60 ',
 'Couple+1 child, Age 21',
 'Couple+1 child, Age 30 ',
 'Couple+1 child, Age 40 ',
 'Couple+1 child, Age 50 ',
 'Couple+2 children, Age 21',
 'Couple+2 children, Age 30 ',
 'Couple+2 children, Age 40 ',
 'Couple+2 children, Age 50',
 'Couple+3 or more Children, Age 21',
 'Couple+3 or more Children, Age 30',
 'Couple+3 or more Children, Age 40',
 'Couple+3 or more Children, Age 50',
 'Individual+1 child, Age 21',
 'Individual+1 child, Age 30',
 'Individual+1 child, Age 40',
 'Individual+1 child, Age 50',
 'Individual+2 children, Age 21',
 'Individual+2 children, Age 30',
 'Individual+2 children, Age 40',
 'Individual+2 children, Age 50',
 'Individual+3 or more children, Age 21',
 'Individual+3 or more children, Age 30',
 'Individual+3 or more children, Age 40',
 'Individual+3 or more children, Age 50',
 'Standard Plan Cost Sharing',
 'Medical Deductible - Individual - Standard',
 'Drug Deductible - Individual - Standard',
 'Medical Deductible - Family - Standard',
 'Drug Deductible - Family - Standard',
 'Medical Deductible - Family (Per Person) - Standard',
 'Drug Deductible - Family (Per Person) - Standard',
 'Medical Maximum Out Of Pocket - Individual - Standard',
 'Drug Maximum Out Of Pocket - Individual - Standard',
 'Medical Maximum Out Of Pocket - Family - Standard',
 'Drug Maximum Out Of Pocket - Family - Standard',
 'Medical Maximum Out Of Pocket - Family (Per Person) - Standard',
 'Drug Maximum Out Of Pocket - Family (Per Person) - Standard',
 'Primary Care Physician - Standard',
 'Specialist - Standard',
 'Emergency Room - Standard',
 'Inpatient Facility - Standard',
 'Inpatient Physician - Standard',
 'Generic Drugs - Standard',
 'Preferred Brand Drugs - Standard',
 'Non-preferred Brand Drugs - Standard',
 'Specialty Drugs - Standard',
 '73 Percent Actuarial Value Silver Plan Cost Sharing',
 'Medical Deductible - Individual - 73 Percent',
 'Drug Deductible - Individual - 73 Percent',
 'Medical Deductible - Family - 73 Percent',
 'Drug Deductible - Family - 73 Percent',
 'Medical Deductible - Family (Per Person) - 73 Percent',
 'Drug Deductible - Family (Per Person) - 73 Percent',
 'Medical Maximum Out Of Pocket - Individual - 73 Percent',
 'Drug Maximum Out Of Pocket - Individual - 73 Percent',
 'Medical Maximum Out Of Pocket - Family - 73 Percent',
 'Drug Maximum Out Of Pocket - Family - 73 Percent',
 'Medical Maximum Out Of Pocket - Family (Per Person) - 73 Percent',
 'Drug Maximum Out Of Pocket - Family (Per Person) - 73 Percent',
 'Primary Care Physician - 73 Percent',
 'Specialist - 73 Percent',
 'Emergency Room - 73 Percent',
 'Inpatient Facility - 73 Percent',
 'Inpatient Physician - 73 Percent',
 'Generic Drugs - 73 Percent',
 'Preferred Brand Drugs - 73 Percent',
 'Non-preferred Brand Drugs - 73 Percent',
 'Specialty Drugs - 73 Percent',
 '87 Percent Actuarial Value Silver Plan Cost Sharing',
 'Medical Deductible - Individual - 87 Percent',
 'Drug Deductible - Individual - 87 Percent',
 'Medical Deductible - Family - 87 Percent',
 'Drug Deductible - Family - 87 Percent',
 'Medical Deductible - Family (Per Person) - 87 Percent',
 'Drug Deductible - Family (Per Person) - 87 Percent',
 'Medical Maximum Out Of Pocket - Individual - 87 Percent',
 'Drug Maximum Out Of Pocket - Individual - 87 Percent',
 'Medical Maximum Out Of Pocket - Family - 87 Percent',
 'Drug Maximum Out Of Pocket - Family - 87 Percent',
 'Medical Maximum Out Of Pocket - Family (Per Person) - 87 Percent',
 'Drug Maximum Out Of Pocket - Family (Per Person) - 87 Percent',
 'Primary Care Physician - 87 Percent',
 'Specialist - 87 Percent',
 'Emergency Room - 87 Percent',
 'Inpatient Facility - 87 Percent',
 'Inpatient Physician - 87 Percent',
 'Generic Drugs - 87 Percent',
 'Preferred Brand Drugs - 87 Percent',
 'Non-preferred Brand Drugs - 87 Percent',
 'Specialty Drugs - 87 Percent',
 '94 Percent Actuarial Value Silver Plan Cost Sharing',
 'Medical Deductible - Individual - 94 Percent',
 'Drug Deductible - Individual - 94 Percent',
 'Medical Deductible - Family - 94 Percent',
 'Drug Deductible - Family - 94 Percent',
 'Medical Deductible - Family (Per Person) - 94 Percent',
 'Drug Deductible - Family (Per Person) - 94 Percent',
 'Medical Maximum Out Of Pocket -individual - 94 Percent',
 'Drug Maximum Out Of Pocket - individual - 94 Percent',
 'Medical Maximum Out Of Pocket - family - 94 Percent',
 'Drug Maximum Out Of Pocket - Family  - 94 Percent',
 'Medical Maximum Out Of Pocket - Family (Per Person) - 94 Percent',
 'Drug Maximum Out Of Pocket - Family (Per Person) - 94 Percent',
 'Primary Care Physician - 94 Percent',
 'Specialist - 94 Percent',
 'Emergency Room - 94 Percent',
 'Inpatient Facility - 94 Percent',
 'Inpatient Physician - 94 Percent',
 'Generic Drugs - 94 Percent',
 'Preferred Brand Drugs - 94 Percent',
 'Non-preferred Brand Drugs - 94 Percent',
 'Specialty Drugs - 94 Percent']

In [10]:
%timeit
df = pl.read_csv("data/Individual_Market_Medical.csv")

columns_needed = [
        'State Code','FIPS County Code', 'County Name', 'Metal Level', 'Issuer Name', 'Premium Adult Individual Age 60 ','Medical Deductible - Individual - Standard', 'Medical Maximum Out Of Pocket - Individual - Standard'
        ]
df = df.select(columns_needed)
df = df.filter(pl.col("Issuer Name").str.contains(r"Blue"))
print(df.head())
df.write_csv('data/2022.csv')

shape: (5, 8)
┌──────────┬────────────┬───────────┬───────────┬───────────┬────────────┬────────────┬────────────┐
│ State    ┆ FIPS       ┆ County    ┆ Metal     ┆ Issuer    ┆ Premium    ┆ Medical    ┆ Medical    │
│ Code     ┆ County     ┆ Name      ┆ Level     ┆ Name      ┆ Adult      ┆ Deductible ┆ Maximum    │
│ ---      ┆ Code       ┆ ---       ┆ ---       ┆ ---       ┆ Individual ┆ -          ┆ Out Of     │
│ str      ┆ ---        ┆ str       ┆ str       ┆ str       ┆ Age 60     ┆ Individual ┆ Pocket -   │
│          ┆ i64        ┆           ┆           ┆           ┆ ---        ┆ ...        ┆ ...        │
│          ┆            ┆           ┆           ┆           ┆ str        ┆ ---        ┆ ---        │
│          ┆            ┆           ┆           ┆           ┆            ┆ str        ┆ str        │
╞══════════╪════════════╪═══════════╪═══════════╪═══════════╪════════════╪════════════╪════════════╡
│ AK       ┆ 2013       ┆ Aleutians ┆ Gold      ┆ Premera   ┆ $1,334.58  ┆ $1,500     ┆ $6,300     │
│          ┆            ┆ East      ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield    ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ o...      ┆            ┆            ┆            │
│ AK       ┆ 2013       ┆ Aleutians ┆ Silver    ┆ Premera   ┆ $1,536.19  ┆ $4,500     ┆ $7,700     │
│          ┆            ┆ East      ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield    ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ o...      ┆            ┆            ┆            │
│ AK       ┆ 2013       ┆ Aleutians ┆ Expanded  ┆ Premera   ┆ $1,016.00  ┆ $6,350     ┆ $8,550     │
│          ┆            ┆ East      ┆ Bronze    ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield    ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ o...      ┆            ┆            ┆            │
│ AK       ┆ 2013       ┆ Aleutians ┆ Silver    ┆ Premera   ┆ $1,559.35  ┆ $3,000     ┆ $7,000     │
│          ┆            ┆ East      ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield    ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ o...      ┆            ┆            ┆            │
│ AK       ┆ 2013       ┆ Aleutians ┆ Expanded  ┆ Premera   ┆ $1,011.92  ┆ $5,800     ┆ $7,000     │
│          ┆            ┆ East      ┆ Bronze    ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield    ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ o...      ┆            ┆            ┆            │
└──────────┴────────────┴───────────┴───────────┴───────────┴────────────┴────────────┴────────────┘

In [11]:
%timeit
df = pl.read_csv("data/Individual_Market_Medical_08_04_2021.csv")

columns_needed = [
        'State Code','FIPS County Code', 'County Name', 'Metal Level', 'Issuer Name', 'Premium Adult Individual Age 60 ','Medical Deductible - Individual - Standard', 'Medical Maximum Out Of Pocket - Individual - Standard'
        ]
df = df.select(columns_needed)
df = df.filter(pl.col("Issuer Name").str.contains(r"Blue"))
print(df)
df.write_csv('data/2021.csv')

shape: (19238, 8)
┌──────────┬────────────┬───────────┬───────────┬───────────┬────────────┬────────────┬────────────┐
│ State    ┆ FIPS       ┆ County    ┆ Metal     ┆ Issuer    ┆ Premium    ┆ Medical    ┆ Medical    │
│ Code     ┆ County     ┆ Name      ┆ Level     ┆ Name      ┆ Adult      ┆ Deductible ┆ Maximum    │
│ ---      ┆ Code       ┆ ---       ┆ ---       ┆ ---       ┆ Individual ┆ -          ┆ Out Of     │
│ str      ┆ ---        ┆ str       ┆ str       ┆ str       ┆ Age 60     ┆ Individual ┆ Pocket -   │
│          ┆ i64        ┆           ┆           ┆           ┆ ---        ┆ ...        ┆ ...        │
│          ┆            ┆           ┆           ┆           ┆ str        ┆ ---        ┆ ---        │
│          ┆            ┆           ┆           ┆           ┆            ┆ str        ┆ str        │
╞══════════╪════════════╪═══════════╪═══════════╪═══════════╪════════════╪════════════╪════════════╡
│ AK       ┆ 2013       ┆ Aleutians ┆ Gold      ┆ Premera   ┆ $1,324.00  ┆ $1,500     ┆ $6,000     │
│          ┆            ┆ East      ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield    ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ o...      ┆            ┆            ┆            │
│ AK       ┆ 2013       ┆ Aleutians ┆ Silver    ┆ Premera   ┆ $1,473.00  ┆ $4,500     ┆ $7,350     │
│          ┆            ┆ East      ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield    ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ o...      ┆            ┆            ┆            │
│ AK       ┆ 2013       ┆ Aleutians ┆ Expanded  ┆ Premera   ┆ $983.00    ┆ $6,350     ┆ $8,400     │
│          ┆            ┆ East      ┆ Bronze    ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield    ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ o...      ┆            ┆            ┆            │
│ AK       ┆ 2013       ┆ Aleutians ┆ Silver    ┆ Premera   ┆ $1,469.00  ┆ $3,000     ┆ $6,600     │
│          ┆            ┆ East      ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield    ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ o...      ┆            ┆            ┆            │
│ ...      ┆ ...        ┆ ...       ┆ ...       ┆ ...       ┆ ...        ┆ ...        ┆ ...        │
│ WY       ┆ 56045      ┆ Weston    ┆ Silver    ┆ Blue      ┆ $1,696.44  ┆ $6,000     ┆ $8,550     │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield of ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Wyomin... ┆            ┆            ┆            │
│ WY       ┆ 56045      ┆ Weston    ┆ Gold      ┆ Blue      ┆ $1,411.89  ┆ $2,000     ┆ $8,550     │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield of ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Wyomin... ┆            ┆            ┆            │
│ WY       ┆ 56045      ┆ Weston    ┆ Gold      ┆ Blue      ┆ $1,384.28  ┆ $1,500     ┆ $7,000     │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield of ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Wyomin... ┆            ┆            ┆            │
│ WY       ┆ 56045      ┆ Weston    ┆ Bronze    ┆ Blue      ┆ $1,114.80  ┆ $8,550     ┆ $8,550     │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield of ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Wyomin... ┆            ┆            ┆            │
└──────────┴────────────┴───────────┴───────────┴───────────┴────────────┴────────────┴────────────┘

In [12]:
%timeit
df = pl.read_csv("data/Individual_Market_Medical_07_27_2020.csv")

columns_needed = [
        'State Code','FIPS County Code', 'County Name', 'Metal Level', 'Issuer Name', 'Premium Adult Individual Age 60 ','Medical Deductible - Individual - Standard', 'Medical Maximum Out Of Pocket - Individual - Standard'
        ]
df = df.select(columns_needed)
df = df.filter(pl.col("Issuer Name").str.contains(r"Blue"))
print(df)
df.write_csv('data/2020.csv')

shape: (17100, 8)
┌──────────┬────────────┬───────────┬───────────┬───────────┬────────────┬────────────┬────────────┐
│ State    ┆ FIPS       ┆ County    ┆ Metal     ┆ Issuer    ┆ Premium    ┆ Medical    ┆ Medical    │
│ Code     ┆ County     ┆ Name      ┆ Level     ┆ Name      ┆ Adult      ┆ Deductible ┆ Maximum    │
│ ---      ┆ Code       ┆ ---       ┆ ---       ┆ ---       ┆ Individual ┆ -          ┆ Out Of     │
│ str      ┆ ---        ┆ str       ┆ str       ┆ str       ┆ Age 60     ┆ Individual ┆ Pocket -   │
│          ┆ i64        ┆           ┆           ┆           ┆ ---        ┆ ...        ┆ ...        │
│          ┆            ┆           ┆           ┆           ┆ str        ┆ ---        ┆ ---        │
│          ┆            ┆           ┆           ┆           ┆            ┆ str        ┆ str        │
╞══════════╪════════════╪═══════════╪═══════════╪═══════════╪════════════╪════════════╪════════════╡
│ AK       ┆ 2013       ┆ Aleutians ┆ Gold      ┆ Premera   ┆ $1,432.00  ┆ $1,500     ┆ $6,000     │
│          ┆            ┆ East      ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield    ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ o...      ┆            ┆            ┆            │
│ AK       ┆ 2013       ┆ Aleutians ┆ Silver    ┆ Premera   ┆ $1,580.00  ┆ $4,500     ┆ $7,350     │
│          ┆            ┆ East      ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield    ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ o...      ┆            ┆            ┆            │
│ AK       ┆ 2013       ┆ Aleutians ┆ Expanded  ┆ Premera   ┆ $1,061.00  ┆ $6,350     ┆ $7,800     │
│          ┆            ┆ East      ┆ Bronze    ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield    ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ o...      ┆            ┆            ┆            │
│ AK       ┆ 2013       ┆ Aleutians ┆ Silver    ┆ Premera   ┆ $1,567.00  ┆ $3,000     ┆ $6,600     │
│          ┆            ┆ East      ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield    ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ o...      ┆            ┆            ┆            │
│ ...      ┆ ...        ┆ ...       ┆ ...       ┆ ...       ┆ ...        ┆ ...        ┆ ...        │
│ WY       ┆ 56045      ┆ Weston    ┆ Bronze    ┆ Blue      ┆ $1,333.08  ┆ $6,000     ┆ $7,900     │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield of ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Wyomin... ┆            ┆            ┆            │
│ WY       ┆ 56045      ┆ Weston    ┆ Bronze    ┆ Blue      ┆ $1,343.58  ┆ $7,900     ┆ $7,900     │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield of ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Wyomin... ┆            ┆            ┆            │
│ WY       ┆ 56045      ┆ Weston    ┆ Silver    ┆ Blue      ┆ $1,878.30  ┆ $6,000     ┆ $7,900     │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield of ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Wyomin... ┆            ┆            ┆            │
│ WY       ┆ 56045      ┆ Weston    ┆ Gold      ┆ Blue      ┆ $1,570.94  ┆ $2,000     ┆ $7,900     │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield of ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Wyomin... ┆            ┆            ┆            │
└──────────┴────────────┴───────────┴───────────┴───────────┴────────────┴────────────┴────────────┘

In [13]:
%timeit
df = pl.read_csv("data/Individual_Market_Medical_07_25_2019.csv")

columns_needed = [
        'State Code','FIPS County Code', 'County Name', 'Metal Level', 'Issuer Name', 'Premium Adult Individual Age 60 ','Medical Deductible - Individual - Standard', 'Medical Maximum Out Of Pocket - Individual - Standard'
        ]
df = df.select(columns_needed)
df = df.filter(pl.col("Issuer Name").str.contains(r"Blue"))
print(df)
df.write_csv('data/2019.csv')

shape: (11946, 8)
┌──────────┬────────────┬───────────┬───────────┬───────────┬────────────┬────────────┬────────────┐
│ State    ┆ FIPS       ┆ County    ┆ Metal     ┆ Issuer    ┆ Premium    ┆ Medical    ┆ Medical    │
│ Code     ┆ County     ┆ Name      ┆ Level     ┆ Name      ┆ Adult      ┆ Deductible ┆ Maximum    │
│ ---      ┆ Code       ┆ ---       ┆ ---       ┆ ---       ┆ Individual ┆ -          ┆ Out Of     │
│ str      ┆ ---        ┆ str       ┆ str       ┆ str       ┆ Age 60     ┆ Individual ┆ Pocket -   │
│          ┆ i64        ┆           ┆           ┆           ┆ ---        ┆ ...        ┆ ...        │
│          ┆            ┆           ┆           ┆           ┆ str        ┆ ---        ┆ ---        │
│          ┆            ┆           ┆           ┆           ┆            ┆ str        ┆ str        │
╞══════════╪════════════╪═══════════╪═══════════╪═══════════╪════════════╪════════════╪════════════╡
│ AK       ┆ 2013       ┆ Aleutians ┆ Gold      ┆ Premera   ┆ $1,463.00  ┆ $1,500     ┆ $6,000     │
│          ┆            ┆ East      ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield    ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ o...      ┆            ┆            ┆            │
│ AK       ┆ 2013       ┆ Aleutians ┆ Silver    ┆ Premera   ┆ $1,554.00  ┆ $4,500     ┆ $7,350     │
│          ┆            ┆ East      ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield    ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ o...      ┆            ┆            ┆            │
│ AK       ┆ 2013       ┆ Aleutians ┆ Bronze    ┆ Premera   ┆ $1,028.00  ┆ $6,350     ┆ $7,800     │
│          ┆            ┆ East      ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield    ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ o...      ┆            ┆            ┆            │
│ AK       ┆ 2013       ┆ Aleutians ┆ Silver    ┆ Premera   ┆ $1,532.00  ┆ $3,000     ┆ $6,600     │
│          ┆            ┆ East      ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield    ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ o...      ┆            ┆            ┆            │
│ ...      ┆ ...        ┆ ...       ┆ ...       ┆ ...       ┆ ...        ┆ ...        ┆ ...        │
│ WY       ┆ 56045      ┆ Weston    ┆ Bronze    ┆ Blue      ┆ $1,303.44  ┆ $6,000     ┆ $7,900     │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield of ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Wyomin... ┆            ┆            ┆            │
│ WY       ┆ 56045      ┆ Weston    ┆ Bronze    ┆ Blue      ┆ $1,312.71  ┆ $7,900     ┆ $7,900     │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield of ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Wyomin... ┆            ┆            ┆            │
│ WY       ┆ 56045      ┆ Weston    ┆ Silver    ┆ Blue      ┆ $1,840.60  ┆ $6,000     ┆ $7,900     │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield of ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Wyomin... ┆            ┆            ┆            │
│ WY       ┆ 56045      ┆ Weston    ┆ Gold      ┆ Blue      ┆ $1,536.85  ┆ $2,000     ┆ $7,900     │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield of ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Wyomin... ┆            ┆            ┆            │
└──────────┴────────────┴───────────┴───────────┴───────────┴────────────┴────────────┴────────────┘

In [14]:
%timeit
df = pl.read_csv("data/PY2018_Medi-Indi-Land-07_26_2018.csv")

columns_needed = [
        'State Code','FIPS County Code', 'County Name', 'Metal Level', 'Issuer Name', 'Premium Adult Individual Age 60 ','Medical Deductible - Individual - Standard', 'Medical Maximum Out Of Pocket - Individual - Standard'
        ]
df = df.select(columns_needed)
df = df.filter(pl.col("Issuer Name").str.contains(r"Blue"))
print(df)
df.write_csv('data/2018.csv')

shape: (11488, 8)
┌──────────┬────────────┬───────────┬───────────┬───────────┬────────────┬────────────┬────────────┐
│ State    ┆ FIPS       ┆ County    ┆ Metal     ┆ Issuer    ┆ Premium    ┆ Medical    ┆ Medical    │
│ Code     ┆ County     ┆ Name      ┆ Level     ┆ Name      ┆ Adult      ┆ Deductible ┆ Maximum    │
│ ---      ┆ Code       ┆ ---       ┆ ---       ┆ ---       ┆ Individual ┆ -          ┆ Out Of     │
│ str      ┆ ---        ┆ str       ┆ str       ┆ str       ┆ Age 60     ┆ Individual ┆ Pocket -   │
│          ┆ i64        ┆           ┆           ┆           ┆ ---        ┆ ...        ┆ ...        │
│          ┆            ┆           ┆           ┆           ┆ str        ┆ ---        ┆ ---        │
│          ┆            ┆           ┆           ┆           ┆            ┆ str        ┆ str        │
╞══════════╪════════════╪═══════════╪═══════════╪═══════════╪════════════╪════════════╪════════════╡
│ AK       ┆ 2013       ┆ Aleutians ┆ Gold      ┆ Premera   ┆ $1,695.00  ┆ $1,500     ┆ $6,000     │
│          ┆            ┆ East      ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield    ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ o...      ┆            ┆            ┆            │
│ AK       ┆ 2013       ┆ Aleutians ┆ Silver    ┆ Premera   ┆ $1,521.00  ┆ $4,500     ┆ $7,350     │
│          ┆            ┆ East      ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield    ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ o...      ┆            ┆            ┆            │
│ AK       ┆ 2013       ┆ Aleutians ┆ Bronze    ┆ Premera   ┆ $1,178.00  ┆ $6,350     ┆ $7,350     │
│          ┆            ┆ East      ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield    ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ o...      ┆            ┆            ┆            │
│ AK       ┆ 2013       ┆ Aleutians ┆ Bronze    ┆ Premera   ┆ $1,174.00  ┆ $5,250     ┆ $6,600     │
│          ┆            ┆ East      ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield    ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ o...      ┆            ┆            ┆            │
│ ...      ┆ ...        ┆ ...       ┆ ...       ┆ ...       ┆ ...        ┆ ...        ┆ ...        │
│ WY       ┆ 56045      ┆ Weston    ┆ Bronze    ┆ Blue      ┆ $1,320.71  ┆ $6,000     ┆ $7,350     │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield of ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Wyomin... ┆            ┆            ┆            │
│ WY       ┆ 56045      ┆ Weston    ┆ Bronze    ┆ Blue      ┆ $1,327.71  ┆ $7,350     ┆ $7,350     │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield of ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Wyomin... ┆            ┆            ┆            │
│ WY       ┆ 56045      ┆ Weston    ┆ Silver    ┆ Blue      ┆ $1,855.80  ┆ $6,000     ┆ $7,350     │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield of ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Wyomin... ┆            ┆            ┆            │
│ WY       ┆ 56045      ┆ Weston    ┆ Gold      ┆ Blue      ┆ $1,531.15  ┆ $2,000     ┆ $7,350     │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield of ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Wyomin... ┆            ┆            ┆            │
└──────────┴────────────┴───────────┴───────────┴───────────┴────────────┴────────────┴────────────┘

In [15]:
%timeit
df = pl.read_csv("data/PY2017_Medi-Indi-Land-08_11_2017.csv")

columns_needed = [
        'State Code','FIPS County Code', 'County Name', 'Metal Level', 'Issuer Name', 'Premium Adult Individual Age 60 ','Medical Deductible - Individual - Standard', 'Medical Maximum Out Of Pocket - Individual - Standard'
        ]
df = df.select(columns_needed)
df = df.filter(pl.col("Issuer Name").str.contains(r"Blue"))
print(df)
df.write_csv('data/2017.csv')

shape: (16698, 8)
┌──────────┬────────────┬───────────┬───────────┬───────────┬────────────┬────────────┬────────────┐
│ State    ┆ FIPS       ┆ County    ┆ Metal     ┆ Issuer    ┆ Premium    ┆ Medical    ┆ Medical    │
│ Code     ┆ County     ┆ Name      ┆ Level     ┆ Name      ┆ Adult      ┆ Deductible ┆ Maximum    │
│ ---      ┆ Code       ┆ ---       ┆ ---       ┆ ---       ┆ Individual ┆ -          ┆ Out Of     │
│ str      ┆ ---        ┆ str       ┆ str       ┆ str       ┆ Age 60     ┆ Individual ┆ Pocket -   │
│          ┆ i64        ┆           ┆           ┆           ┆ ---        ┆ ...        ┆ ...        │
│          ┆            ┆           ┆           ┆           ┆ str        ┆ ---        ┆ ---        │
│          ┆            ┆           ┆           ┆           ┆            ┆ str        ┆ str        │
╞══════════╪════════════╪═══════════╪═══════════╪═══════════╪════════════╪════════════╪════════════╡
│ AK       ┆ 2013       ┆ Aleutians ┆ Gold      ┆ Premera   ┆ $2,351.00  ┆ $1,500     ┆ $5,000     │
│          ┆            ┆ East      ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield    ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ o...      ┆            ┆            ┆            │
│ AK       ┆ 2013       ┆ Aleutians ┆ Silver    ┆ Premera   ┆ $2,018.00  ┆ $3,000     ┆ $7,150     │
│          ┆            ┆ East      ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield    ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ o...      ┆            ┆            ┆            │
│ AK       ┆ 2013       ┆ Aleutians ┆ Bronze    ┆ Premera   ┆ $1,573.00  ┆ $6,350     ┆ $7,150     │
│          ┆            ┆ East      ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield    ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ o...      ┆            ┆            ┆            │
│ AK       ┆ 2013       ┆ Aleutians ┆ Bronze    ┆ Premera   ┆ $1,570.00  ┆ $5,250     ┆ $6,500     │
│          ┆            ┆ East      ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield    ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ o...      ┆            ┆            ┆            │
│ ...      ┆ ...        ┆ ...       ┆ ...       ┆ ...       ┆ ...        ┆ ...        ┆ ...        │
│ WY       ┆ 56045      ┆ Weston    ┆ Silver    ┆ Blue      ┆ $1,157.33  ┆ $2,500     ┆ $6,350     │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield of ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Wyomin... ┆            ┆            ┆            │
│ WY       ┆ 56045      ┆ Weston    ┆ Bronze    ┆ Blue      ┆ $1,008.19  ┆ $6,000     ┆ $7,150     │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield of ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Wyomin... ┆            ┆            ┆            │
│ WY       ┆ 56045      ┆ Weston    ┆ Catastrop ┆ Blue      ┆  $851.82   ┆ $7,150     ┆ $7,150     │
│          ┆            ┆           ┆ hic       ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield of ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Wyomin... ┆            ┆            ┆            │
│ WY       ┆ 56045      ┆ Weston    ┆ Silver    ┆ Blue      ┆ $1,112.64  ┆ $3,250     ┆ $5,600     │
│          ┆            ┆           ┆           ┆ Cross     ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Blue      ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Shield of ┆            ┆            ┆            │
│          ┆            ┆           ┆           ┆ Wyomin... ┆            ┆            ┆            │
└──────────┴────────────┴───────────┴───────────┴───────────┴────────────┴────────────┴────────────┘

In [16]:
years = [str(year) for year in range(2017,2023)]
dataframe = pl.DataFrame()

for year in years:
    df = pl.read_csv(f"data/{year}.csv")

    covid_dummy = int(year)

    df = df.with_columns(pl.lit(covid_dummy).alias('Time Trend'))
    dataframe = pl.concat([dataframe, df])

func = lambda x: float(x.replace(',', "").replace("$", ""))

# def func
dataframe = dataframe.with_columns([
        pl.col('Medical Maximum Out Of Pocket - Individual - Standard').apply(func),
        pl.col('Premium Adult Individual Age 60 ').apply(func),
        pl.col('Medical Deductible - Individual - Standard').apply(func)
        ])
print(dataframe)
dataframe.write_csv('data/main_data_file.csv')

shape: (97134, 9)
┌──────────┬────────────┬───────────┬───────────┬─────┬────────────┬────────────┬────────────┬──────────┐
│ State    ┆ FIPS       ┆ County    ┆ Metal     ┆ ... ┆ Premium    ┆ Medical    ┆ Medical    ┆ Time     │
│ Code     ┆ County     ┆ Name      ┆ Level     ┆     ┆ Adult      ┆ Deductible ┆ Maximum    ┆ Trend    │
│ ---      ┆ Code       ┆ ---       ┆ ---       ┆     ┆ Individual ┆ -          ┆ Out Of     ┆ ---      │
│ str      ┆ ---        ┆ str       ┆ str       ┆     ┆ Age 60     ┆ Individual ┆ Pocket -   ┆ i32      │
│          ┆ i64        ┆           ┆           ┆     ┆ ---        ┆ ...        ┆ ...        ┆          │
│          ┆            ┆           ┆           ┆     ┆ f64        ┆ ---        ┆ ---        ┆          │
│          ┆            ┆           ┆           ┆     ┆            ┆ f64        ┆ f64        ┆          │
╞══════════╪════════════╪═══════════╪═══════════╪═════╪════════════╪════════════╪════════════╪══════════╡
│ AK       ┆ 2013       ┆ Aleutians ┆ Gold      ┆ ... ┆ 2351.0     ┆ 1500.0     ┆ 5000.0     ┆ 2017     │
│          ┆            ┆ East      ┆           ┆     ┆            ┆            ┆            ┆          │
│ AK       ┆ 2013       ┆ Aleutians ┆ Silver    ┆ ... ┆ 2018.0     ┆ 3000.0     ┆ 7150.0     ┆ 2017     │
│          ┆            ┆ East      ┆           ┆     ┆            ┆            ┆            ┆          │
│ AK       ┆ 2013       ┆ Aleutians ┆ Bronze    ┆ ... ┆ 1573.0     ┆ 6350.0     ┆ 7150.0     ┆ 2017     │
│          ┆            ┆ East      ┆           ┆     ┆            ┆            ┆            ┆          │
│ AK       ┆ 2013       ┆ Aleutians ┆ Bronze    ┆ ... ┆ 1570.0     ┆ 5250.0     ┆ 6500.0     ┆ 2017     │
│          ┆            ┆ East      ┆           ┆     ┆            ┆            ┆            ┆          │
│ ...      ┆ ...        ┆ ...       ┆ ...       ┆ ... ┆ ...        ┆ ...        ┆ ...        ┆ ...      │
│ WY       ┆ 56045      ┆ Weston    ┆ Gold      ┆ ... ┆ 1355.92    ┆ 1500.0     ┆ 7000.0     ┆ 2022     │
│ WY       ┆ 56045      ┆ Weston    ┆ Bronze    ┆ ... ┆ 1090.01    ┆ 8550.0     ┆ 8550.0     ┆ 2022     │
│ WY       ┆ 56045      ┆ Weston    ┆ Silver    ┆ ... ┆ 1637.5     ┆ 6000.0     ┆ 8550.0     ┆ 2022     │
│ WY       ┆ 56045      ┆ Weston    ┆ Silver    ┆ ... ┆ 1657.7     ┆ 2500.0     ┆ 8550.0     ┆ 2022     │
└──────────┴────────────┴───────────┴───────────┴─────┴────────────┴────────────┴────────────┴──────────┘

In [17]:
print(dataframe['State Code'].n_unique())

34

In [18]:
import pandas as pd

print(pd.read_csv('data/main_data_file.csv'))

      State Code  FIPS County Code     County Name Metal Level  \
0             AK              2013  Aleutians East        Gold
1             AK              2013  Aleutians East      Silver
2             AK              2013  Aleutians East      Bronze
3             AK              2013  Aleutians East      Bronze
4             AK              2013  Aleutians East      Silver
...          ...               ...             ...         ...
97129         WY             56045          Weston        Gold
97130         WY             56045          Weston        Gold
97131         WY             56045          Weston      Bronze
97132         WY             56045          Weston      Silver
97133         WY             56045          Weston      Silver

                                    Issuer Name  \
0      Premera Blue Cross Blue Shield of Alaska
1      Premera Blue Cross Blue Shield of Alaska
2      Premera Blue Cross Blue Shield of Alaska
3      Premera Blue Cross Blue Shield of Alaska
4      Premera Blue Cross Blue Shield of Alaska
...                                         ...
97129         Blue Cross Blue Shield of Wyoming
97130         Blue Cross Blue Shield of Wyoming
97131         Blue Cross Blue Shield of Wyoming
97132         Blue Cross Blue Shield of Wyoming
97133         Blue Cross Blue Shield of Wyoming

       Premium Adult Individual Age 60   \
0                               2351.00
1                               2018.00
2                               1573.00
3                               1570.00
4                               1962.00
...                                 ...
97129                           1382.43
97130                           1355.92
97131                           1090.01
97132                           1637.50
97133                           1657.70

       Medical Deductible - Individual - Standard  \
0                                          1500.0
1                                          3000.0
2                                          6350.0
3                                          5250.0
4                                          3000.0
...                                           ...
97129                                      2000.0
97130                                      1500.0
97131                                      8550.0
97132                                      6000.0
97133                                      2500.0

       Medical Maximum Out Of Pocket - Individual - Standard  Time Trend
0                                                 5000.0            2017
1                                                 7150.0            2017
2                                                 7150.0            2017
3                                                 6500.0            2017
4                                                 4100.0            2017
...                                                  ...             ...
97129                                             8550.0            2022
97130                                             7000.0            2022
97131                                             8550.0            2022
97132                                             8550.0            2022
97133                                             8550.0            2022

[97134 rows x 9 columns]

In [19]:
def clean_date(date):

    month, day, year = date.split('/')
    year = year[-2:]

    if len(month) == 1:
        month = '0' + month

    if len(day) == 1:
        day = '0' + day

    return '20' + str(year) + '-' + str(month) + '-' + str(day)

In [20]:
import datetime
df = pd.read_csv('data/Weekly_United_States_COVID-19_Cases_and_Deaths_by_State.csv')
df.date_updated = list(map(clean_date, df.date_updated))
df.date_updated = pd.to_datetime(df.date_updated, format = '%Y-%m-%d')
df = df.sort_values(by = 'date_updated')
df.set_index(df.date_updated, drop = True, inplace = True)
df = df[df.date_updated < datetime.datetime(2023, 1, 1)]
print(df.tail())

             date_updated state  start_date    end_date  tot_cases  new_cases  \
date_updated
2022-12-29     2022-12-29   FSM  12/22/2022  12/28/2022      22069         21
2022-12-29     2022-12-29    PR  12/22/2022  12/28/2022    1049438       8652
2022-12-29     2022-12-29    PW  12/22/2022  12/28/2022       5968         13
2022-12-29     2022-12-29    AL  12/22/2022  12/28/2022    1573637       4703
2022-12-29     2022-12-29    AK  12/22/2022  12/28/2022     288123        332

              tot_deaths  new_deaths  new_historic_cases  new_historic_deaths
date_updated
2022-12-29            58           0                   0                    0
2022-12-29          5519          29                   0                    0
2022-12-29             9           0                   0                    0
2022-12-29         20757          20                   0                    0
2022-12-29          1418           0                   0                    0

In [21]:
df.groupby('state').resample('Y')['new_cases'].sum().to_csv('data/year_and_statewise_covid_cases.csv')
tmp = pd.read_csv('data/year_and_statewise_covid_cases.csv')
tmp

    state date_updated  new_cases
0      AK   2020-12-31      45802
1      AK   2021-12-31     106561
2      AK   2022-12-31     135760
3      AL   2020-12-31     356820
4      AL   2021-12-31     523487
..    ...          ...        ...
175    WV   2021-12-31     241289
176    WV   2022-12-31     298027
177    WY   2020-12-31      44125
178    WY   2021-12-31      71117
179    WY   2022-12-31      67605

[180 rows x 3 columns]

In [22]:
df

,date_updated,state,start_date,end_date,tot_cases,new_cases,tot_deaths,new_deaths,new_historic_cases,new_historic_deaths
date_updated,,,,,,,,,,
2020-01-23,2020-01-23,GA,01/16/2020,01/22/2020,0,0,0,0,0,0
2020-01-23,2020-01-23,CA,01/16/2020,01/22/2020,0,0,0,0,0,0
2020-01-23,2020-01-23,WY,01/16/2020,01/22/2020,0,0,0,0,0,0
2020-01-23,2020-01-23,NH,01/16/2020,01/22/2020,0,0,0,0,0,0
2020-01-23,2020-01-23,MT,01/16/2020,01/22/2020,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...
2022-12-29,2022-12-29,FSM,12/22/2022,12/28/2022,22069,21,58,0,0,0
2022-12-29,2022-12-29,PR,12/22/2022,12/28/2022,1049438,8652,5519,29,0,0
2022-12-29,2022-12-29,PW,12/22/2022,12/28/2022,5968,13,9,0,0,0
2022-12-29,2022-12-29,AL,12/22/2022,12/28/2022,1573637,4703,20757,20,0,0
2022-12-29,2022-12-29,AK,12/22/2022,12/28/2022,288123,332,1418,0,0,0

In [23]:
df_political = pd.read_csv('data/political_data.csv', header = 0, index_col = 0)
state_control = []
for col in df_political.columns:

    if 'Unnamed: ' in col:
        if int(col.split(sep='Unnamed:')[1]) % 3 == 0:
            state_control.append(col)

df_political = df_political[state_control]
df_political.columns = [str(i) for i in range(2017, 2024)]
df_political.drop(['State_Code'], axis=0, inplace = True) #.to_csv('data/cleaned_political_data.csv')
df_political = df_political.reset_index().rename(columns = {'index': 'State Code'})
# df_political = pd.read_csv('data/cleaned_political_data.csv')
df_political = df_political.melt(id_vars = 'State Code', value_vars = [str(i) for i in range(2017, 2024)])
df_political = df_political.rename(columns = {'variable': 'Time Trend', 'value': 'Unity'})
df_political.to_csv('data/cleaned_political_data.csv', index = False)

In [24]:
df_political

    State Code Time Trend    Unity
0           AL       2017      Rep
1           AK       2017  Divided
2           AZ       2017      Rep
3           AR       2017      Rep
4           CA       2017      Dem
..         ...        ...      ...
345         VA       2023  Divided
346         WA       2023      Dem
347         WV       2023      Rep
348         WI       2023  Divided
349         WY       2023      Rep

[350 rows x 3 columns]